
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secure</title>
</head>
<body>
<div>
    Hello from Secured page (has to be logged in to see this)
</div>
</body>
</html>
